.container
  %h1 Ok...cual es el tipo de industria?
  %p
    %a{:href => "/calcular"}
      %button{:type => "button", :class => "btn btn-lg btn-primary"} Soy de Comercio
    %button{:type => "button", :class => "btn btn-lg btn-primary"} Soy de Industria
    %button{:type => "button", :class => "btn btn-lg btn-primary"} Soy de Maquila
    %button{:type => "button", :class => "btn btn-lg btn-primary"} Soy de Agropecuario
